<a href="https://colab.research.google.com/github/sourovw/4Y1S-Archive/blob/main/OS-Lab/Lab-5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **FIFO Page Replacement**

In [66]:
rs = list(map(int, input('Reference Sting: ').split()))
fs = int(input('Total Frame: '))

Reference Sting: 1 8 1 0 1 0 0 4 4 0 0 1 0 1 8 1
Total Frame: 3

In [67]:
flts = 0
cont = []
keys = []
table = []
emo = ["\N{sleeping face}", "\N{sleeping face}", "\N{sleeping face}"]
n = len(rs)

for i in range(n):
    if (len(cont) < fs):
        if (rs[i] not in cont):
            cont.append(rs[i])
            data = cont.copy()
            table.append(data)
            keys.append(rs[i])
            print(cont)
            flts += 1
        else:
            data = emo.copy()
            table.append(data)
            print('< * * * >')
    else:
        if (rs[i] not in cont):
            v = keys[0]
            keys.pop(0)
            cont[cont.index(v)] = rs[i]
            data = cont.copy()
            table.append(data)
            keys.append(rs[i])
            print(cont)
            flts += 1
        else:
            data = emo.copy()
            table.append(data)
            print('< * * * >')

[1]
[1, 8]
< * * * >
[1, 8, 0]
< * * * >
< * * * >
< * * * >
[4, 8, 0]
< * * * >
< * * * >
< * * * >
[4, 1, 0]
< * * * >
< * * * >
[4, 1, 8]
< * * * >

In [68]:
hits = (n - flts)
print(f'Total page faults: {flts}\nTotal hits: {hits}')

Total page faults: 6
Total hits: 10

In [69]:
fr = (flts/n)*100
hr = (hits/n)*100
print(f'Fault Ratio: {fr:.2f}\nHit Ratio: {hr:.2f}')

Fault Ratio: 37.50
Hit Ratio: 62.50

In [70]:
import numpy as np
import pandas as pd

df = pd.DataFrame(table).convert_dtypes(int).T
df = df.replace(np.nan, '', regex=True)
df

  0  1  2   3  4  5  6   7  8  9  10  11 12 13  14 15
0  1  1  ðŸ˜´   1  ðŸ˜´  ðŸ˜´  ðŸ˜´   4  ðŸ˜´  ðŸ˜´  ðŸ˜´   4  ðŸ˜´  ðŸ˜´   4  ðŸ˜´
1     8  ðŸ˜´   8  ðŸ˜´  ðŸ˜´  ðŸ˜´   8  ðŸ˜´  ðŸ˜´  ðŸ˜´   1  ðŸ˜´  ðŸ˜´   1  ðŸ˜´
2        ðŸ˜´   0  ðŸ˜´  ðŸ˜´  ðŸ˜´   0  ðŸ˜´  ðŸ˜´  ðŸ˜´   0  ðŸ˜´  ðŸ˜´   8  ðŸ˜´

# **LRU Page Replacement**

In [71]:
rs = list(map(int, input('Reference Sting: ').split()))
fs = int(input('Total Frame: '))

Reference Sting: 1 8 1 0 1 0 0 4 4 0 0 1 0 1 8 1
Total Frame: 3

In [72]:
flts = 0
cont = []
temp = []
table = []
emo = ["\N{sleeping face}", "\N{sleeping face}", "\N{sleeping face}"]
n = len(rs)

for i in range(n):
    temp.append(rs[i])
    if (len(cont) < fs):
        if (rs[i] not in cont):
            cont.append(rs[i])
            data = cont.copy()
            table.append(data)
            print(cont)
            flts += 1
        else:
            data = emo.copy()
            table.append(data)
            print('< * * * >')
    else:
        if (rs[i] not in cont):
            keys = []

            for x in temp:
                if x in cont:
                    keys.append(x)

            for y in keys:
                while (keys.count(y) > 1):
                    keys.remove(y)

            v = keys[0]
            cont[cont.index(v)] = rs[i]
            data = cont.copy()
            table.append(data)
            print(cont)
            flts += 1
        else:
            data = emo.copy()
            table.append(data)
            print('< * * * >')

[1]
[1, 8]
< * * * >
[1, 8, 0]
< * * * >
< * * * >
< * * * >
[1, 4, 0]
< * * * >
< * * * >
< * * * >
< * * * >
< * * * >
< * * * >
[1, 8, 0]
< * * * >

In [73]:
hits = (n - flts)
print(f'Total page faults: {flts}\nTotal hits: {hits}')

Total page faults: 5
Total hits: 11

In [74]:
fr = (flts/n)*100
hr = (hits/n)*100
print(f'Fault Ratio: {fr:.2f}\nHit Ratio: {hr:.2f}')

Fault Ratio: 31.25
Hit Ratio: 68.75

In [75]:
import numpy as np
import pandas as pd

df = pd.DataFrame(table).convert_dtypes(int).T
df = df.replace(np.nan, '', regex=True)
df

  0  1  2   3  4  5  6   7  8  9  10 11 12 13  14 15
0  1  1  ðŸ˜´   1  ðŸ˜´  ðŸ˜´  ðŸ˜´   1  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´   1  ðŸ˜´
1     8  ðŸ˜´   8  ðŸ˜´  ðŸ˜´  ðŸ˜´   4  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´   8  ðŸ˜´
2        ðŸ˜´   0  ðŸ˜´  ðŸ˜´  ðŸ˜´   0  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´   0  ðŸ˜´

# **Optimal Page Replacement**

In [76]:
rs = list(map(int, input('Reference Sting: ').split()))
fs = int(input('Total Frame: '))

Reference Sting: 1 8 1 0 1 0 0 4 4 0 0 1 0 1 8 1
Total Frame: 3

In [79]:
flts = 0
cont = []
temp = rs.copy()
table = []
emo = ["\N{sleeping face}", "\N{sleeping face}", "\N{sleeping face}"]
n = len(rs)

for i in range(n):
    temp.remove(rs[i])

    if (len(cont) < fs):
        if (rs[i] not in cont):
            cont.append(rs[i])
            data = cont.copy()
            table.append(data)
            print(cont)
            flts += 1
        else:
            data = emo.copy()
            table.append(data)
            print('< * * * >')
    else:
        if (rs[i] not in cont):
            p = []
            demo = cont.copy()

            for x in temp:
                if x in cont:
                    p.append(x)

            q = p[::-1]

            for y in q:
                while (q.count(y) > 1):
                    q.remove(y)

            r = q[::-1]
            
            if (len(r) < 3):
                for y in cont:
                    if y in r:
                        demo.remove(y)
                v = demo[0]
            else:
                v = r[len(r)-1]
            
            cont[cont.index(v)] = rs[i]
            data = cont.copy()
            table.append(data)
            print(cont)
            flts += 1
        else:
            data = emo.copy()
            table.append(data)
            print('< * * * >')

[1]
[1, 8]
< * * * >
[1, 8, 0]
< * * * >
< * * * >
< * * * >
[1, 4, 0]
< * * * >
< * * * >
< * * * >
< * * * >
< * * * >
< * * * >
[1, 8, 0]
< * * * >

In [80]:
hits = (n - flts)
print(f'Total page faults: {flts}\nTotal hits: {hits}')

Total page faults: 5
Total hits: 11

In [53]:
fr = (flts/n)*100
hr = (hits/n)*100
print(f'Fault Ratio: {fr:.2f}\nHit Ratio: {hr:.2f}')

Fault Ratio: 31.25
Hit Ratio: 68.75

In [81]:
import numpy as np
import pandas as pd

df = pd.DataFrame(table).convert_dtypes(int).T
df = df.replace(np.nan, '', regex=True)
df

  0  1  2   3  4  5  6   7  8  9  10 11 12 13  14 15
0  1  1  ðŸ˜´   1  ðŸ˜´  ðŸ˜´  ðŸ˜´   1  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´   1  ðŸ˜´
1     8  ðŸ˜´   8  ðŸ˜´  ðŸ˜´  ðŸ˜´   4  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´   8  ðŸ˜´
2        ðŸ˜´   0  ðŸ˜´  ðŸ˜´  ðŸ˜´   0  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´  ðŸ˜´   0  ðŸ˜´