<a href="https://colab.research.google.com/github/sourovw/4Y1S-Archive/blob/main/OS-Lab/Lab-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Priority Scheduling**

In [1]:
process = list(input('Process: ').split())
time = list(map(int, input('Burst Time: ').split()))
priority = list(map(int, input('Priority: ').split()))

Process: P1 P2 P3 P4
Burst Time: 21 3 6 2
Priority: 2 1 4 3

In [2]:
print(f'Process = {process}\nTime = {time}\nPriority = {priority}')

Process = ['P1', 'P2', 'P3', 'P4']
Time = [21, 3, 6, 2]
Priority = [2, 1, 4, 3]

In [3]:
import pandas as pd

l = [process, time, priority]
df = pd.DataFrame(l)
df

    0   1   2   3
0  P1  P2  P3  P4
1  21   3   6   2
2   2   1   4   3

In [4]:
df = df.T
df

    0   1  2
0  P1  21  2
1  P2   3  1
2  P3   6  4
3  P4   2  3

In [5]:
df.columns = ['Process', 'Time', 'Priority']
df

  Process Time Priority
0      P1   21        2
1      P2    3        1
2      P3    6        4
3      P4    2        3

In [7]:
df.sort_values(by=['Priority'], axis=0, ascending=True, inplace=True)
df

  Process Time Priority
1      P2    3        1
0      P1   21        2
3      P4    2        3
2      P3    6        4

In [8]:
temp = 0
cont = [0]
print(f'GANTT Chart: {0}', end=' ')

for proc, tim in zip(df.Process, df.Time):
    temp += tim
    cont.append(temp)
    print(proc, temp, end=' ')

GANTT Chart: 0 P2 3 P1 24 P4 26 P3 32

In [10]:
l2 = cont[:-1]
wt = sum(l2)/len(process)
print(f'Average waiting time : {wt:.2f} ms')

Average waiting time : 13.25 ms

# **Round Robin**

In [31]:
process = list(input('Process: ').split())
time = list(map(int, input('Burst Time: ').split()))

Process: P1 P2 P3 P4
Burst Time: 21 3 6 2

In [32]:
print(f'Process = {process}\nTime = {time}')

Process = ['P1', 'P2', 'P3', 'P4']
Time = [21, 3, 6, 2]

In [33]:
import pandas as pd

l = [process, time]
df = pd.DataFrame(l)
df

    0   1   2   3
0  P1  P2  P3  P4
1  21   3   6   2

In [34]:
df = df.T
df.columns = ['Process', 'Time']
df

  Process Time
0      P1   21
1      P2    3
2      P3    6
3      P4    2

In [35]:
temp = 0
cont = [0]

th = int(input('Quantum: '))

while (df['Time']).any() > 0:
    for ind, row in df.iterrows():
        if row.Time > 0:
            cont.append(row.Process)

            if row.Time > th:
                temp += th
                cont.append(temp)
                df['Time'][ind] = (row.Time - th)
            else:
                temp += row.Time
                cont.append(temp)
                df['Time'][ind] = 0

Quantum: 5

In [36]:
cont2 = []
rev = cont[::-1]

for proc in df.Process:
    ind = rev.index(proc)
    val = rev[ind + 1]
    cnt = rev.count(proc)-1
    
    print(f'{proc}\t{val}\t{cnt}')

    if cnt > 0:
        cal = val - (cnt * th)
        cont2.append(cal)
    else:
        cont2.append(val)

P1	31	4
P2	5	0
P3	20	1
P4	13	0

In [37]:
wt = sum(cont2)/len(process)
print(f'GANTT: {cont}')
print(f'Average waiting time : {wt:.2f} ms')

GANTT: [0, 'P1', 5, 'P2', 8, 'P3', 13, 'P4', 15, 'P1', 20, 'P3', 21, 'P1', 26, 'P1', 31, 'P1', 32]
Average waiting time : 11.00 ms