<a href="https://colab.research.google.com/github/sourovw/4Y1S-Archive/blob/main/OS-Lab/Lab-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **FCFS Scheduling**

In [1]:
process = list(input('Process: ').split())
time = list(map(int, input('Burst Time: ').split()))

Process: P1 P2 P3 P4
Burst Time: 21 3 6 2

In [2]:
print(f'Process = {process}\nTime = {time}')

Process = ['P1', 'P2', 'P3', 'P4']
Time = [21, 3, 6, 2]

In [3]:
import pandas as pd

l = [process, time]
df = pd.DataFrame(l)
df

    0   1   2   3
0  P1  P2  P3  P4
1  21   3   6   2

In [4]:
df = df.transpose()
df

    0   1
0  P1  21
1  P2   3
2  P3   6
3  P4   2

In [5]:
df.columns = ['Process', 'Time']
df

  Process Time
0      P1   21
1      P2    3
2      P3    6
3      P4    2

In [8]:
temp = 0
cont = [0]
print(f'GANTT Chart: {0}', end=' ')

for proc, tim in zip(df.Process, df.Time):
    temp += tim
    cont.append(temp)
    print(proc, temp, end=' ')

GANTT Chart: 0 P1 21 P2 24 P3 30 P4 32

In [11]:
l2 = cont[:-1]
wt = sum(l2)/len(process)
print(f'Average waiting time : {wt:.2f} ms')

Average waiting time : 18.75 ms

# **SJF Scheduling**

In [12]:
process = list(input('Process: ').split())
time = list(map(int, input('Burst Time: ').split()))

Process: P1 P2 P3 P4
Burst Time: 21 3 6 2

In [13]:
print(f'Process = {process}\nTime = {time}')

Process = ['P1', 'P2', 'P3', 'P4']
Time = [21, 3, 6, 2]

In [14]:
import pandas as pd

l = [process, time]
df = pd.DataFrame(l)
df

    0   1   2   3
0  P1  P2  P3  P4
1  21   3   6   2

In [16]:
df = df.transpose()
df

    0   1
0  P1  21
1  P2   3
2  P3   6
3  P4   2

In [17]:
df.columns = ['Process', 'Time']
df

  Process Time
0      P1   21
1      P2    3
2      P3    6
3      P4    2

In [18]:
df.sort_values(by=['Time'], axis=0, ascending=True, inplace=True)
df

  Process Time
3      P4    2
1      P2    3
2      P3    6
0      P1   21

In [22]:
temp = 0
cont = [0]
print(f'GANTT Chart: {0}', end=' ')

for proc, tim in zip(df.Process, df.Time):
    temp += tim
    cont.append(temp)
    print(proc, temp, end=' ')

GANTT Chart: 0 P4 2 P2 5 P3 11 P1 32

In [23]:
l2 = cont[:-1]
wt = sum(l2)/len(process)
print(f'Average waiting time : {wt:.2f} ms')

Average waiting time : 4.50 ms