# **Finding Shortest Path using A\* Search Algorithm**

In [44]:
import pandas as pd

pd.set_option('mode.chained_assignment', None)
df = pd.read_csv('dataset.csv')
df.style.format({'g(n)': '{:.2f}'})

In [45]:
start = input('STARTING STATE: ').upper()
goal = input('GOAL STATE: ').upper()

STARTING STATE: Shahbagh
GOAL STATE: UAP

In [46]:
print('Starting node is: [{}].\nGoal node is: [{}]'.format(start, goal))

Starting node is: [SHAHBAGH].
Goal node is: [UAP]

In [47]:
df.columns = ['Parent', 'Child', 'g(n)', 'h(n)']
df.style.format({'g(n)': '{:.2f}'}).background_gradient(cmap='summer_r')

In [48]:
df['g(n)'] = df['g(n)'].astype('float32') 
df['h(n)'] = df['h(n)'].astype('float32') 
path = [start]
df2 = df.copy()

In [49]:
path_cost = 0

while True:
    if start == goal:
        break

    sd = df2[df2.Parent == start]
    sd['Cost'] = sd[['g(n)', 'h(n)']].sum(axis=1)
    sd = sd.sort_values(by='Cost', ascending=True).reset_index(drop=True)
    sd2 = sd.style.format({'g(n)': '{:.2f}', 'h(n)': '{:.2f}',
                            'Cost': '{:.2f}'}).background_gradient(cmap='summer_r')
    display(sd2)
    start = sd.loc[0].Child
    path_cost += sd.loc[0]['g(n)']
    path.append(start)

In [50]:
path_cost += list(df2[df2['Child'] == goal]['h(n)'])[0]
print('Shortes Path: {}'.format(path))

Shortes Path: ['SHAHBAGH', 'PARIBAGH', 'BANGLA MOTOR', 'KAWRAN BAZAR', 'PANTHAPATH', 'UAP']

In [51]:
print('Total path cost is: {:.2f}.'.format(path_cost))

Total path cost is: 12.71.